
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    font-family: 'Rubik', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  
    background-color: #121619;
    color: #f4f4f4;
  }
  
  a {
    color: #f4f4f4;
    text-decoration: none;
  }
  
  h1 {
    text-align: center;
    margin: 1rem;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.icon {
    font-size: 2.5rem;
    color: #2de370;
}

.green {
    color: #2de370;
}

.container {
    max-width: 1280px;
    margin: auto;
}
@media screen and (max-width: 1320px) {
    .container {
        max-width: 960px;
        margin: auto;
    }
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52 58 63);
    box-shadow: 0px 0px 12px #18191b;
    margin-top: 2rem;
    padding: 1rem 1rem;
    font-weight: 700;
    border-bottom: .2px solid;
    border-color: rgb(52 58 63);
}

.coin-name {
    margin-left: -4rem;
}

.coin-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #21262a;
    padding: 1rem 1rem;
    transition: background 200ms ease;
    border-bottom: .2px solid;
    border-color: rgb(52 58 63);
}

.coin-ranks{
    width: 0rem;
}

.coin-names{
    width: 3rem;
}

.coin-prices{
    width: 2.5rem;
}

.coin-hours{
    width: .5rem;
}
.coin-volumes{
    width: 3.5rem;
}
.coin-caps{
    width: 6.75rem;
}

.coin-row:hover {
    background-color: rgb(52 58 63);
    cursor: pointer;
}

img {
    height: 40px;
    margin-right: 8px;
    width: auto;
}

.img-symbol {
    display: flex;
    align-items: center;
}



@media screen and (max-width: 720px) {
    .hide-mobile {
        display: none;
    }
    .coin-ranks{
        width: 0rem;
    }
    
    .coin-names{
        width: 0rem;
    }
    
    .coin-prices{
        width: 0rem;
    }
    
    .coin-hours{
        width: 4rem;
    }
}

/* //////////////
Coin Page
///////////// */

.coin-container .content {
    max-width: 740px;
    margin: 1rem auto;
    padding: .7rem 1rem;
    display: flex;
    flex-direction: column;
    background-color: #21262a;
    /* border-radius: 8px; */
}

.rank {
    margin: .5rem 0;
}

.rank-btn {

    background-color: #2de370;
    padding: .5rem;
    color: #26272b;
}

.info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info .coin-heading {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.info .coin-price {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info p {
    padding-right: 1rem;
}

table {
    margin: .5rem 0;
}

td, th {
    padding: 8px;
    text-align: center;
}

th {
    background-color: rgb(52 58 63);
}

.stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    width: 100%;
}

.stats .row {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #808080;
    margin: .6rem 0;
    padding-bottom: .5rem;
}

.stats .row p:first-child {
    color: #d3d3d3;
}

.about h3 {
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .coin-container .content {
        max-width: 100%;
        margin: .5rem;
        padding: 0 .5rem;
    }

    .stats {
        grid-template-columns: 1fr;
    }

    td,th {
        padding: 3px;
    }

    .rank {
        margin: .5rem;
    }

    .rank-btn {
        margin: .5rem 0;
    }
}